<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- FontAwesome CSS -->
	   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/map.css">
    <script src="js/filter.js"></script>

  </head>
  <body>
    <!-- tutorial modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Welcome to Wanderlust!</h3>
          </div>
          <div class="modal-body">
            <p>Ever want to travel on a dime but don't know where to start?</p>
            <p>Wanderlust gives you a friendly way to explore cheap travel opportunities in the near future.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Start exploring!</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Filtering UI -->
    <div class="search container">
      <div class="row justify-content-center">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div>
            Departing San Diego Airport - SAN
          </div>
          <div style="font-size: .8em">
            (based on your current location)
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          Trips under
          <select class="form-control" style="display:inline-block;" id="priceLevels" onchange="initMap()">
            <option>$500</option>
            <option>$1000</option>
            <option selected="selected">$2000+</option>
          </select>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          Leaving within
          <select class="form-control" style="display:inline-block;" id="dateRanges" onchange="initMap()">
            <option>1 week</option>
            <option>2 weeks</option>
            <option>1 month</option>
            <option selected="selected">2+ months</option>
          </select>
        </div>
      </div>
    </div>
    <div id="map"></div>
    <script>
      var map;

      var results;
      function initMap() {
        var infowindow = new google.maps.InfoWindow(); /* SINGLE */
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          minZoom: 3,
          center: new google.maps.LatLng(20,-28),
          mapTypeId: 'roadmap'
        });

        var script = document.createElement('script');

        script.src = 'js/airports.js';
        document.getElementsByTagName('head')[0].appendChild(script);

        function placeMarker(pin) {
          var coords = pin.coordinates;
          var price = pin.price;
          var latLng = new google.maps.LatLng(coords[0],coords[1]);

          if (priceInRange(price) == false) {
            return false;
          }

          var marker = new google.maps.Marker({
            position: latLng,
            map: map
          });

          google.maps.event.addListener(marker, 'click', function(){
            infowindow.close(); // Close previously opened infowindow
            // generate URL to Google Flights for relevant search query
            infowindow.setContent( "<div id='infowindow'><h3>"+ pin.place +"</h3></div>" + "<div><h5>Est Low Price: $" + pin.price + "</h5></div>" + "<a target='_blank' href='https://www.google.com/flights/#search;f=" + "SAN" + ";t=" + pin.iata + ";d=" + "2017-07-01" + ";tt=o" + ";mp=" + pin.price + "'>Buy Tickets Now!</a>");

            infowindow.open(map, marker);
          });
        }
        // Loop through the results array and place a marker for each
        // set of coordinates.
        window.eqfeed_callback = function(results) {
          for (var i = 0; i < results.airports.length; i++) {
            placeMarker(results.airports[i]);
          }

          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }

      }

      // google.maps.event.addDomListener(window, 'load', initMap);
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjVZNsDc_7NkRipjobreGbkhw8Dej6ETk&callback=initMap">
    </script>
    <!-- <script src="js/getFlights.js" type="text/javascript"></script> -->
    <!-- JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
    </script>

  </body>
</html>
