<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    
    <link href="../public/css/index.css" rel="stylesheet"></link>

    <script src="../public/js/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css" />
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  </head>

  <body>

  <div class="search full">
    <div class="search container" id="searchBox">
      <div class="row">
        <div class="col s2" id="headerName"><h4>Wanderlust</h4></div>
        <div class="col s2">
          <div class="input-field">
            <input id="autocomplete" type="text" class="validate">
            <!-- <label for="autocomplete">Pick Departing City</label> -->
            <label for="autocomplete"></label>
          </div>
        </div>

        <div class="col s1">
          <div class="input-field">
            <input id="lowEndUI" type="text" class="validate" oninput="$('#lowEndLabelUI').hide();">
            <label id="lowEndLabelUI" for="lowEndUI"></label>
          </div>
        </div>
      
        <div class="col s1">
          <div class="input-field">
            <input id="highEndUI" type="text" class="validate" oninput="$('#highEndLabelUI').hide();">
            <label id="highEndLabelUI" for="highEndUI"></label>
          </div>
        </div>

        <div class="col s2">
          <div class="input-field">
            <input id="departUI" type="date" class="validate">
            <label for="departUI"></label>
          </div>
        </div>

        <div class="col s2">
          <div class="input-field">
            <input id="returnUI" type="date" class="validate">
            <label for="returnUI"></label>
          </div>
        </div>

        <div class="col s2">
          <a id="submitButton" class="waves-effect waves-light btn" onclick="drawMap()" style="width:100%">Update Flights!</a>
        </div>
      </div>

    </div>
    <!-- <div id="hider">
      <a id="hideButton" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" onclick="toggleForm()">swap_vert</i></a>
    </div> -->
  </div>

    <div class="resultsbar" id="resultsbar">
      <div class="resultscontent">
        <h3>Result List</h3> 
        <div class="result">
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <!-- TEMP until we switch to handlebars -->
        <div class="result"> 
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <div class="result">
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <div class="result">
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <div class="result">
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <div class="result">
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <div class="result">
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <!-- End the temp section -->
      </div>
    </div>

    <!-- Log In window that displays when the page loads -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <div id="modalHeader">
          <h3 id="popTitle">Welcome, let's Wanderlust!</h3>
        </div>
        <div class="LogSign" id="modalSignIn" style="width: 235px; display: table-cell; padding: 10px">
          <div id="forms" style="text-align: center">
            <form><input type="text" value="User Name" class="formInput"></form>
            <form><input type="text" value="Password" class="formInput"></form>
          </div>
          <button class="logInBtn" style="width: 100%" onclick="hideModal(1)">Log In</button>
        </div>
        <div class="LogSign" id="modalNewAcc" style="width: 235px; display: table-cell; padding: 10px">
          <div id="forms" style="text-align: center; width:100%">
            <form><input type="text" value="First Name" class="formInput"></form>
            <form><input type="text" value="Last Name" class="formInput"></form>
            <form><input type="text" value="Email" class="formInput"></form>
            <form><input type="text" value="User Name" class="formInput"></form>
           <form><input type="text" value="Password" class="formInput"></form>
          </div>
          <button class="logInBtn" style="width: 100%" onclick="hideModal(1)">Create Account</button>
        </div>
      </div>
    </div>
    
    <!-- Form to fill out before flights can be shwon -->
    <div id="myModal2" class="modal2" style="display: none">
      <div class="modal-content">
        <div id="modalHeader">
          <h3 class="mdc-typography--display1">Plan Your Trip</h3>
        </div> 
          <div id="forms">
            <div class="row1">
              <h6 class="form-sectionhead">Budget</h6>
              <div class="input-field">
                <input id="lowEnd" type="text" class="validate" oninput="$('#lowEndLabel').hide();">
                <label id="lowEndLabel" for="lowEnd">Low End</label>
              </div>
            </div>

            <div class="row1">
              <div class="input-field">
                <input id="highEnd" type="text" class="validate" oninput="$('#highEndLabel').hide();">
                <label id="highEndLabel" for="highEnd">High End</label>
              </div>
            </div>

            <div class="row1">
              <div class="input-field">
                <h6 class="form-sectionhead">Depart Date</h6>
                <input id="depart" type="date" class="validate" oninput="$('#departLabel').hide();">
                <label id="departLabel" for="depart"></label>
              </div>
            </div>

            <div class="row1">
              <div class="input-field">
                <h6 class="form-sectionhead">Return Date</h6>
                <input id="return" type="date" class="validate" oninput="$('#returnLabel').hide();">
                <label id="returnLabel" for="return"></label>
              </div>
            </div>
          
          <a class="waves-effect waves-light btn" onclick="hideModal(2)" style="width:100%">Show Me Flights!</a>
        </div>
      </div>
    </div>

    <div id="map"></div>

    <!-- <input id="dest-input" type="text" placeholder="" style="display: none"> -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb7SwbRhXn9FiIl_9d6xjGqdg7Ktmca2A&libraries=places&callback=initMap" async defer></script>
  </body>
</html>