/* css */
/* Always set the map height explicitly to define the size of the div
/* element that contains the map. */
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

.pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}

#pac-input:focus {
	
}

#title {
	color: #fff;
	background-color: #4d90fe;
	font-size: 25px;
	font-weight: 500;
	padding: 6px 12px;
}
#target {
	
}
#box {
	margin-top: 10px;
	margin-left: 0px;
	display: none;
	z-index: 2;
	width: 200px;
}

.search {
	position: absolute;
	z-index:1;
	background: white;
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
	padding: 10px 10%;
	box-shadow: 2px 2px 3px #888888;
	border: 1px solid #c9cbce;
	display: none;
}

/*RESULTS SECTION ON THE SIDE*/
.resultsbar{
	position: absolute;
	z-index:1;
	background: white;
	width: 20%;
	height: 80%;
	margin-left: 80%;
	margin-top: 75px;
	box-shadow: 2px 2px 3px #888888;
	border: 1px solid #c9cbce;
	overflow: auto;
	display: none;
}
.resultscontent {
	
}
.result {
	padding: 5px;
	border: 1px dashed;
	margin-top: 5px;
}

/*MODAL WINDOWS*/
.modal, .modal2 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #f0eceb; /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
	background-color: #f0eceb;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 40%; /* Could be more or less, depending on screen size */
}

.LogSign{
/**border: 1px solid #283018;**/
}
.formInput {
	width: 100%;
	color: #cecece;
}
#popTitle {
	font-size: 35px;
	width: 100%; 
	height: 100%; 
	text-align: center;
}