/* css */

.header {
	height: 50px;
	position: fixed;
	background: #EEAA7B;
	margin: 0px auto;
	border: 1px solid #CCC;
}

.name {
	height: 50px;
	position: fixed;
	background: #EEAA7B;
	margin: 0px auto;
	border: 1px solid #CCC;
}