<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- FontAwesome CSS -->
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
     <link rel="stylesheet" href="../public/css/app.css">
     <script src="https://code.jquery.com/jquery.js"></script>
     <script src="../public/js/app.js"></script>
  </head>
  <body>

    <!--Top Bar Element-->
    <div class="search container" id="searchBox">
      <div class="row justify-content-center">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          Departing from 
          <input id="box" class="controls" type="text" placeholder="Search Box"></input>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          Trips under
          <div class="dropdown" style="display:inline-block;">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">$500
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">$800</a></li>
              <li><a href="#">$1500</a></li>
              <li><a href="#">$2100+</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          Leaving within
          <div class="dropdown" style="display:inline-block;">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">1 week
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">2 weeks</a></li>
              <li><a href="#">1 month</a></li>
              <li><a href="#">2 months+</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--Result Section-->
    <div class="resultsbar" id="resultsbar">
      <div class="resultscontent">
        <h3>Result List</h3> 
        <div class="result">
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <!-- TEMP until we switch to handlebars -->
        <div class="result"> 
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <div class="result">
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <div class="result">
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <div class="result">
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <div class="result">
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <div class="result">
          <h5>Result Name</h5>
          <p>Some text about that result</p>
        </div>
        <!-- End the temp section -->
      </div>
    </div>

    <!-- Log In window that displays when the page loads -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <div id="modalHeader">
          <h3 id="popTitle">Welcome, let's Wanderlust!</h3>
        </div>
        <div class="LogSign" id="modalSignIn" style="width: 235px; display: table-cell; padding: 10px">
          <div id="forms" style="text-align: center">
            <form><input type="text" value="User Name" class="formInput"></form>
            <form><input type="text" value="Password" class="formInput"></form>
          </div>
          <button class="logInBtn" style="width: 100%" onclick="hideModal(1)">Log In</button>
        </div>
        <div class="LogSign" id="modalNewAcc" style="width: 235px; display: table-cell; padding: 10px">
          <div id="forms" style="text-align: center; width:100%">
            <form><input type="text" value="First Name" class="formInput"></form>
            <form><input type="text" value="Last Name" class="formInput"></form>
            <form><input type="text" value="Email" class="formInput"></form>
            <form><input type="text" value="User Name" class="formInput"></form>
           <form><input type="text" value="Password" class="formInput"></form>
          </div>
          <button class="logInBtn" style="width: 100%" onclick="hideModal(1)">Create Account</button>
        </div>
      </div>
    </div>
    <!-- Form to fill out before flights can be shwon -->
    <div id="myModal2" class="modal2" style="display: none">
      <div class="modal-content">
        <div id="modalHeader">
          <h3 id="popTitle">Plan your flight.</h3>
        </div>
        <div id="forms" style="text-align: center; width:100%">
          <div id="planner budget">
            <form><input type="text" value="Budget"></form>
          </div>
          <div id="planner date">
            <form action="/action_page.php">Depart:<input type="date"></form>
            <form action="/action_page.php">Return:<input type="date"></form>
          </div>
        </div>
        <button class="planner submit" onclick="hideModal(2)" style="width: 100%">Show me trips!</button>
      </div>
    </div>

    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb7SwbRhXn9FiIl_9d6xjGqdg7Ktmca2A&libraries=places&callback=initAutocomplete"
         async defer></script>
  </body>
</html>